.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: #ece7db;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* MAX */
html, body, #root {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Inter", sans-serif;
}

.app-background {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(
    180deg,
    #5a082d 0%,
    #72063c 45%,
    #e0b73a 100%
  );
  animation: breathe 12s ease-in-out infinite;
}

@keyframes breathe {
  0% { filter: brightness(1); }
  50% { filter: brightness(1.03); }
  100% { filter: brightness(1); }
}

